<%= turbo_frame_tag :remote_modal, target: :_top do %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Review </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= form_with url: adreview_edit_path(id: @freelan.id), method: :post do |form| %>
        <div class="modal-body">

          <%# message, mark %> 
                <p><select name="user[order]" id="user_order">
                  <% @order_list.each_with_index do |i| %>
                      <option value=<%= i.id %>> <%= i.title %> </option>
                  <% end %>
                </select></p>

            <%= form.number_field :mark, min: 1, max: 5,  class: "form-control form-control-lg"%>
            <%= form.text_area :message, class: "form-control form-control-lg" %>


            <%= form.submit 'Upload Review', class: 'btn btn-success', data: {action: "click->bs-modal#submitEnd" }, id: 'reg-btn' %>
        </div> 
      <%end%>



    </div>
  </div>
  </div>
</div>
<% end %>