<%= turbo_frame_tag :result_searching, target: :_top do %>
  <% @array_of_searching.each do |i| %>
    <% if i.freelanc_id.nil? %>
      <div class="card">
        <div class="card-body">
        <h5 class="card-title"><%= i.title %> </h5>
        <p class="card-text">Cost: <%= i.cost %></p>
        <p class="card-text">Customer: <%= i.client.user.f_name %> <%= i.client.user.l_name %> </p>
        <div calss="card-text">
        <%= i.message[0..100]... %>
        </div>
          <%= link_to 'Show details', ord_prof_path(id: i.id), class:"btn btn-primary" %>
        </div>
      </div>
      <br>

    <% end %>

  <% end %>
<% end %>