
 <%= form_with method: :get, url: searching_url do |form| %>
        <%= form.text_field :search_param, placeholder: 'ruby', class: 'form-control'%>
        <%= form.submit 'Find', class: 'btn btn-primary' %>


<button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Filters</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

      <ul> 
        <li><p>Cost:</p></li>
        <% a = [''] %>
        <%= form.number_field :check_cost_start, placeholder: '1', class: 'form-control', min: 1%>
        <%= form.number_field :check_cost_end, placeholder: '1000', class: 'form-control', min: 1  %>
      </ul>

      <ul> 
        <li><p>Categories:</p></li>
        <% a = [''] %>
        <% @categories_of_orders.each do |categ| %>
            <div>
              <%= check_box_tag 'check_category[]', categ %>
              <%= h categ[0] %>
            </div>
        <% end  %>
      </ul>

      <%= form.submit 'Find', class: 'btn btn-primary' %>
  </div>
</div>
      <% end %>
      <br>

  <% @array_of_result.each do |i| %>
    <% if i.freelanc_id.nil? %>
      <div class="card">
        <div class="card-body">
        <h5 class="card-title"><%= i.title %> </h5>
        <p class="card-text">Cost: <%= i.cost %></p>
        <p class="card-text">Customer: <%= i.client.user.f_name %> <%= i.client.user.l_name %> </p>
        <div calss="card-text">
        <%= i.message[0..100]... %>
        </div>
          <%= link_to 'Show details', ord_prof_path(id: i.id), class:"btn btn-primary" %>
        </div>
      </div>
      <br>

    <% end %>

  <% end %>