<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%# <%= link_to t('nav.home'), root_path, class: "navbar-brand"  %> 
    <%= link_to "Home", root_path, class: "navbar-brand"  %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"> 
          <%= link_to 'Freelancers', freela_list_path, class: "nav-link" %>
        </li>
        <li class="nav-item"> 
          <%= link_to 'Orders', order_list_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-log-0">

        <% if Current.user.present? %>
          <li class="nav-item">
            <%= link_to 'profile', profile_path(id: Current.user.id), class: "btn btn-outline-info me-2", id: 'profile-btn' %>
          </li>
          <li class="nav-item">
            <%= button_to t('nav.logout'), logout_path, method: :delete,  class: "btn btn-outline-danger", id: 'logout-btn' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t('nav.login'), sign_in_path, data: {controller: "user-modal"},  class: "nav-link", id: 'login-btn' %>
          </li>
          <li class="nav-item">
            <%= link_to t('nav.signup'), sign_up_path, data: {controller: "user-modal"},  class: "nav-link", id: 'sign_up-btn' %>
          </li>
          <% end %>
      </ul>

    </div>
  </div>
  </div>

</nav>



