<% if @order.status == 'finished' %>
  <h2> <div class="blocktext"> This Order is archived! </div> </h2>
<% end %>

<div id="info">

<% unless @order.freelanc_id.nil? %>
 <h1> In work by <%= link_to "#{Freelancer.find_by(id: @order.freelanc_id).user.email}", profile_path(id: Freelancer.find_by(id: @order.freelanc_id).user.id) %> </h1>
<% end %>

<br>
<h1><%= @order.title %></h1>




<h2>Customer: <%= @order.client.user.f_name %> <%= @order.client.user.l_name %></h2>
<h3> Deadline: <%= @order.deadline.to_fs(:long) %> </h3>
<h3>Cost: <%= @order.cost %> </h3>
<br>

<h4>Task:</h4>
<%= form_with do |form| %>
  <div class="form-group">
    <p><%= form.text_area "#{@order.message}", disabled: true, class: "form-control form-control-lg", value: "#{@order.message}" %></p>
  </div>
<% end %>
<br>
<br>

<% unless Current.user.nil? %>
  <% if @cur_user.role == 'freelancer' && PreOrder.where(freelancer_id: @cur_user.freelancers.first.id, order_id: @order.id).count.zero? && @order.freelanc_id.nil? && @order.status == 'good' %>
    <%= button_to "Take", order_sub_path(order_id: @order.id, freelancer_id: (@cur_user.freelancers.first.id), id: params[:id]), method: :post, class:"btn btn-outline-success" %>
  <% end %>

  <% if @order.client == @cur_user.clients.first %>
    <%# <%= button_to "look", ord_prof_show_path , method: :post, class:"btn btn-outline-success"  %>
      <%= form_with method: :post, url: ord_prof_show_path(id: @order.id) do |form| %>

        <div class="form-group">
          <%= form.submit "Edit", class:"btn btn-primary"%>
        </div>
        
      <% end %>

      <%= form_with method: :post, url: ord_prof_freel_path(id: @order.id) do |form| %>

        <div class="form-group">
          <%= form.submit "Check Freelancers", class:"btn btn-primary"%>
        </div>
        
      <% end %>
      
      <%= form_with method: :put, url: archivate_path(id: @order.id) do |form| %>
        <% if @order.status == 'finished' && @order.deadline > Date.today %>
          <div class="form-group">
            <%= form.submit "Unarchivete It", class:"btn btn-success"%>
          </div>
        <% else %>
          <div class="form-group">
            <%= form.submit "Archivete It", class:"btn btn-danger"%>
          </div>
        <% end %>
        
      <% end %>

  <% end %>
<% end %>

</div>

<div id="freela_list">
</div>